h1, h2 {
  text-align: center;
}

h1 {
  border-color: blue;
  border-width: thin;
  border-style: groove;
  border-radius: 32px 8px 20px 12px;
}

ul {
  gap: 32px;
  border-color: rgb(68, 68, 57);
  border-width: medium;
  border-style: dotted;
  border-radius: 16px 8px 24px;
}

#container {
  padding: 32px;
  border: none;
}

.intro {
  border-color: red;
  border-width: thick;
  border-style: solid;
  border-radius: 8px;
}

.first-part {
  border-color: greenyellow;
  border-width: 6px;
  border-style: outset;
  border-radius: 20%;
}

#friends {
  border-color: purple;
  border-width: 4px;
  border-style: inset;
  border-radius: 16px 8px;
}

#ending {
  border-color: green;
  border-width: 6px;
  border-style: ridge;
  border-radius: 16px 8px;
}

.story-footer-credits {
  border-color: lightgreen;
  border-style: solid;
  border-radius: 8px;
  border-right: 20px;
  border-top: 20px;
}

p {
  border-color: rgb(128, 0, 92);
  border-width: 2px;
  border-style: dotted;
  border-radius: 8px;
}