blockquote {
    border: 2px solid gray;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: ghostwhite;
}

img {
     top: 7rem;
    left: 3rem;
    height: 8.5rem;
    width: 6rem;
    padding: 0.5rem;
    background-color: gainsboro;
    border: 2px dashed gray;
    border-radius: 1rem;
}
