blockquote {
    border: 2px solid gray;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: ghostwhite;
}

img {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    height: 9rem;
    width: 6rem;
}
